@page
@model RazorPage.WebUI.Pages.Goods.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Goods.Name"></label>
        <input asp-for="Goods.Name" class="form-control"/>
        <span asp-validation-for="Goods.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Goods.Price"></label>
        <input asp-for="Goods.Price" class="form-control"/>
        <span asp-validation-for="Goods.Price"></span>
    </div>
    <div class="form-group">
        <button type="submit">Add</button>
    </div>
</form>
